* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  color: white;
  background-color: darkslategray;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 2rem);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
